<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= percentage %>%"" aria-valuenow="<%= revenue %>" aria-valuemin="0" aria-valuemax=" <%= goal.amount %>"><%= "#{revenue} €" %></div>
</div>