<div class="container white-container">
  <%= link_to  'Back to list', goals_path, class: 'btn btn-outline-info' %>

  <h1 id="hero-title">Nouvel objectif à atteindre</h1>
  <h2 id=""><%="#{current_user.first_name} #{current_user.last_name}"%></h1>

   <%= render 'form', goal: @goal %>

</div>